<script lang="ts">
	import { derived } from "svelte/store";
	import differenceInHours from "date-fns/differenceInHours";
	import formatDistanceToNow from "date-fns/formatDistanceToNow";
	import { IconArrowBigUp, IconArrowBigDown } from "@tabler/icons-svelte";

	import { getReviews } from "./lib/api";
	import { lastReview, token } from "./lib/stores";

	const CONTINUE_REVIEW_THRESHOLD_HRS = 6;

	const reviewsPromise = derived([token, lastReview], ([token, lastReview]) => {
		if (token && lastReview) return getReviews(token, lastReview.toISOString());
		return Promise.resolve([]);
	});

	let tokenValue: string;
	function handleTokenSubmit() {
		$token = tokenValue;
	}
	function handleReviewStart() {
		$lastReview = new Date();
		window.open("https://www.wanikani.com/subjects/review");
	}
</script>

<style>
	.container {
		width: 1170px;
		margin: auto;
	}

	.app-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-block-end: 0.5em;
		gap: 8px;
	}

	.app-header > :first-child {
		flex: 1;
	}

	.review-btn {
		display: inline-block;
		background-color: #00a1f1;
		color: white;
		border: none;
		cursor: pointer;
		padding: 1em;
		font-size: 14px;
		text-decoration: none;
		font-family: unset;
	}

	.review-btn--continue {
		background-color: grey;
	}

	h1 {
		margin-block-end: 0.5em;
	}

	.total-section {
		background-color: #252a3b;
		color: white;
		padding: 14px 24px;
		margin-block-end: 1em;
		border-radius: 5px;
	}

	.total-section > span {
		font-size: 2em;
		font-weight: bold;
	}

	.breakup-section {
		background: #f4f4f4;
		display: flex;
		flex-direction: column;
		margin-block-end: 1em;
		border-radius: 5px;
		padding: 12px;
	}

	.breakup-section > h2 {
		margin-inline: 12px;
		padding-bottom: 12px;
	}

	.breakup-section.correct > h2 span {
		color: #88cc00;
	}

	.breakup-section.incorrect > h2 span {
		color: #f03;
	}

	.breakup-section > h2 :global(svg) {
		margin-bottom: -4px;
		margin-inline: -3px;
	}

	.review-list {
		display: flex;
		flex-direction: row;
		gap: 8px;
		list-style: none;
		flex-wrap: wrap;
		padding: 12px;
		border-radius: 5px;
		background: white;
	}

	.review {
		display: inline-block;
		color: white;
		text-decoration: none;
		padding: 3px;
		min-width: 36px;
		font-size: 21px;
		text-align: center;
		white-space: nowrap;
		flex-shrink: 0;
	}

	.review img {
		height: 21px;
		filter: invert(1);
		vertical-align: middle;
	}

	.review-radical {
		background-color: #00a1f1;
		background-image: linear-gradient(to bottom, #0af, #0093dd);
	}

	.review-kanji {
		background-color: #f100a1;
		background-image: linear-gradient(to bottom, #f0a, #dd0093);
	}

	.review-vocabulary {
		background-color: #a100f1;
		background-image: linear-gradient(to bottom, #a0f, #9300dd);
	}
</style>

<main>
	{#if !$token}
		<div class="container">
			<h1>☑️ Reviews summary</h1>
			<form on:submit|preventDefault={handleTokenSubmit}>
				<div>
					<label for="token">API key:</label>
					<input type="text" id="token" bind:value={tokenValue} />
				</div>
				<div>
					<button type="submit">Sign in</button>
				</div>
			</form>
		</div>
	{:else}
		<header class="app-header">
			<div />
			<button type="button" class="review-btn" on:click={handleReviewStart}>Start review</button>
			{#if $lastReview && differenceInHours(new Date(), $lastReview) < CONTINUE_REVIEW_THRESHOLD_HRS}
				<a
					class="review-btn review-btn--continue"
					href="https://www.wanikani.com/subjects/review"
					target="_blank">Continue review</a
				>
			{/if}
		</header>
		<div class="container">
			<h1>☑️ Reviews summary</h1>

			{#if $lastReview}
				{#await $reviewsPromise}
					<p>Loading...</p>
				{:then reviews}
					{#if reviews.length}
						{@const correctReviews = reviews.filter((r) => r.correct)}
						{@const incorrectReviews = reviews.filter((r) => !r.correct)}
						<section class="total-section">
							<span>
								{Math.floor((correctReviews.length / reviews.length) * 100)}% correct
							</span>
						</section>
						<section class="breakup-section correct">
							<h2><span><IconArrowBigUp /> {correctReviews.length}</span> answered correctly</h2>
							<div class="review-list correct">
								{#each correctReviews as { href, kind, characters, imageSrc, meaning }}
									<a {href} class="review review-{kind}" title={meaning}>
										{#if characters}
											{characters}
										{:else}
											<img src={imageSrc} alt={meaning} />
										{/if}
									</a>
								{/each}
							</div>
						</section>
						<section class="breakup-section incorrect">
							<h2><span><IconArrowBigDown /> {incorrectReviews.length}</span> answered incorrectly</h2>
							<div class="review-list">
								{#each incorrectReviews as { href, kind, characters, imageSrc, meaning }}
									<a {href} class="review review-{kind}" title={meaning}>
										{#if characters}
											{characters}
										{:else}
											<img src={imageSrc} alt={meaning} />
										{/if}
									</a>
								{/each}
							</div>
						</section>
					{:else}
						<h2>No reviews yet</h2>
						<p>Time to go and do some!</p>
					{/if}
				{:catch e}
					<p>Error getting reviews: {e.toString()}</p>
				{/await}
				<section>
					<p>Your last review started {formatDistanceToNow($lastReview, { addSuffix: true })}</p>
				</section>
			{:else}
				<h2>No reviews yet</h2>
				<p>Time to go and do some!</p>
			{/if}
		</div>
	{/if}
</main>
