* {
  box-sizing: border-box;
}

html {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[lang="ja"] {
	font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans Japanese", "NotoSansCJK",
		"TakaoPGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic",
		"ＭＳ Ｐゴシック", "Noto Sans JP", "PingFang SC", "Noto Sans SC", sans-serif;
}

body {
	background: #ebebeb;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
